/*************************************************************************************
* Footer styles
*************************************************************************************/
.footer {
  display: none;
  width: 100vw;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  p {
    color: $color-dark;
    font-weight: 500;
    margin-right: 10px;
  }
}
