/*************************************************************************************
* Header styles
*************************************************************************************/
.header-wrapper {
  height: 8rem;
  width: 100vw;
  padding-top: 25px;

  .header-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-wrapper {
      position: relative;
      width: 60px;
      height: 60px;
      border: 5px solid $color-primary;
      transition: transform 1.2s ease-in-out;

      &:hover {
        transform: rotate(360deg);
      }
    }
    .logo {
      position: absolute;
      font-size: 2.5rem;
      color: $color-dark;
      font-weight: bold;
      font-family: "Space Mono", monospace;
    }
  }
}
